<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title th:text="${titulo}"> </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../assets/css/bootstrap.min.css"  rel="stylesheet" />
        <link href="../assets/js/bootstrap.min.js"  rel="stylesheet" />
    </head>
    <body>
        <section layout:fragment="section" class="container"></section>
    </body>
</html>